@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fascinate&family=Open+Sans:wght@700&family=Phudu&family=Poppins&family=Preahvihear&family=Raleway&family=Roboto+Slab&family=Rubik+Iso&display=swap');
body{
    background-color: rgb(255, 216, 220);
  }
  .heading{
    color: white;
  }
  table{
    text-align: center;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    
    box-shadow: 0px 10px 30px 5px rgb(202, 200, 200);
    border-bottom: 5px solid red;
  }
  th{
    background-color: rgb(255, 41, 41);
    padding: 15px 15px;
  }
  table, td{
    padding: 20px;
    
  }
 
  tr:nth-child(odd){
    background-color: rgb(236, 236, 236);
  }
  
  #kalvium{
    justify-content: flex-end;
    width:350px;
    padding-top:20px;
  }
  #caption{
    font-family: 'Roboto Slab', serif;;
    font-size: x-large;
    padding-bottom: 10px;
  }
  #lunch{
    font-size: larger ;
    
  }
  #student{
    padding-right: 19%;
    position: absolute;
    top: 20px;
    right: -70px;
    margin-top: 73px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: x-large;
    color: red;
  }
  #courses{
    padding-right: 10%;
    position: absolute;
    top: 20px;
    right: -30px;
    margin-top: 73px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: x-large;
    color: red;
  }
  #profile{
    position: absolute;
    height: 100;
    top: 30px;
    right: -90px;
    
    margin-top: 50px;
    padding-right: 25%;
  
  }